@media (min-width: 1280px) and (max-width: 1900px) {
  .or-text {
    padding: 0 21px;
  }
  .or-text p {
    height: 20px;
    overflow: hidden;
  }
}
@media (max-width: 1199px) {
  .blog-index-list .sidebar {
    width: 100%;
  }
  .products-list .product-info {
    text-align: left !important;
  }
  .products-list .pro-name-rate {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body.boxed-all .page {
    width: 980px;
  }
  body.boxed-content .main-container {
    width: 980px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 980px;
  }
  .image-recent a img {
    width: 100%;
  }
  .or-image a img {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .upload-add-cart {
    width: 100%;
  }
  .block-currency .currency-name i {
    line-height: 100%;
  }
}
@media (min-width: 1200px) {
  .products-list .product-info {
    text-align: left !important;
  }
  .home-category .block-center .inner-top .box-left .info {
    margin-left: -10px;
  }
  .home-category .block-center .inner-top .box-right .info {
    margin-left: -20px;
  }
  .options-list-w .block-options {
    width: 37.333%;
  }
  .home-category .block-left:hover .info {
    margin-left: -15px;
  }
  section.home-new-product .pro-item .product-info .price-box {
    min-height: 23px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .electronic .main {
    margin-left: 65px;
  }
  .cms-index-index .electronic .main {
    margin-left: 0px;
  }
  .style1 .onestepcheckout-col-left,
  .style1 .onestepcheckout-col-center,
  .style1 .onestepcheckout-col-right {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .customer-account-login .main-container {
    background: none;
  }
  .cart-header .continue-shopping {
    white-space: nowrap;
  }
  .electronic .cart-main {
    width: 100%;
  }
  .electronic .cart-main .btn-checkout {
    min-width: 190px;
  }
  .electronic .cart-right-banner {
    display: none;
  }
  .product-step-order.type1 {
    margin-top: 110px;
  }
  .product-view.type1 .upload-file,
  .product-view.type1 .product-options-bottom {
    width: 100%;
  }
  .product-view.type1 .product-options-bottom {
    margin-top: 30px;
  }
  .toolbar .industry-filter {
    margin-top: 10px;
  }
  #list_allimages .data-table td textarea {
    width: 200px;
  }
  .mbmenu-icon-w {
    display: none;
  }
  .block.block-reorder .block-content li p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
  }
  .block.block-reorder .block-content .actions button span span,
  .block.block-reorder .block-content .actions a {
    padding: 0 10px;
  }
  #compare-items li.item p.product-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
  }
  #coupon_code {
    min-width: 212px;
  }
  .cart-bottom > div h3 {
    white-space: nowrap;
  }
  /* style detail */
  #product-options-wrapper dl dd .input-box {
    width: 370px;
  }
  #product-options-wrapper dl dd {
    margin-top: 23px;
  }
  #product-options-wrapper dl dt {
    margin-top: 20px;
  }
  .product-view.type2 #product-options-wrapper dl.last dt {
    display: block;
  }
  .product-view.type2 #product-options-wrapper .wrap-dl-option {
    padding-bottom: 0px;
  }
  #product-options-wrapper dl.last dt {
    display: none;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 370px;
  }
  .allowable-upload .content-allable {
    margin-top: 61px;
  }
  section.add-to-cart-w {
    padding-bottom: 0;
  }
  .customer-account-login .col-right,
  .customer-account-create .col-right {
    display: none;
  }
  /* style blog post */
  .postContent img {
    width: 100%;
  }
  /* style blog */
  .block-blog .menu-categories {
    width: 50%;
  }
  .block-blog .menu-recent {
    width: 50%;
  }
  .products-list .short-description {
    float: left;
    width: 100%;
  }
  .block-blog .menu-categories,
  .block-blog .menu-recent {
    margin-top: 30px;
  }
  .block.block-blog {
    margin-bottom: 50px;
  }
  .products-list .short-description,
  .products-list .action {
    float: left;
  }
  .mbmenu-icon-w {
    display: none;
  }
  .home-blog .blog-content-w .item .info .read-more {
    padding: 12px 45px;
  }
  .block-currency .currency-name {
    border-left: none;
  }
  .slide-show .btn-sn {
    margin-top: 15px;
    display: inline-block;
  }
  .main {
    overflow: visible;
  }
  .home-category.layout_1 .block .box-left,
  .home-category.layout_1 .block .box-right {
    width: 47.5%;
  }
  .home-category.layout_2 .block .box-left,
  .home-category.layout_2 .block .box-right {
    width: 100%;
  }
  .home-category .block-center .inner-top a.frist {
    margin-right: 0;
  }
  .home-category .block .box-left {
    margin-right: 11px;
  }
  .home-category .block .box-right {
    margin-left: 11px;
  }
  .home-category .block-center .inner-bottom {
    margin-top: 20px;
  }
  .home-category.layout_2 .block-center .inner-bottom {
    margin-top: 19px;
  }
  .home-category .block-right .inner-bottom {
    margin-top: 11px;
  }
  .block-title-w ul li a {
    padding: 0 9px;
  }
  .cms-home .main section.home-testimonial {
    background: url("../images/printshop/bg_testimonal.jpg") scroll center center;
    background-size: cover;
  }
  section.home-new-product {
    padding-bottom: 35px;
  }
  .cms-home .main section.home-blog {
    background: url("../images/printshop/bg_blog.jpg") no-repeat scroll center center;
    min-height: 730px;
    background-size: cover;
  }
  .w-print-block {
    min-height: 270px;
  }
  section.home-out-recent {
    background: #fafafa;
  }
  .text-recent p {
    height: 40px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
  }
  .slide-show span {
    display: none;
  }
  .slide-show .btn-sn {
    display: none;
  }
  .home-category .block-left:hover .info a {
    margin-left: -65px;
  }
  .home-category .block-center .inner-top .box-right:hover .info a {
    margin-left: -69px;
    margin-top: 6px;
  }
  /*     trust-w    */
  .trust-w .tr-text p {
    height: 40px;
    overflow: hidden;
  }
  .product-info .rating-box {
    margin-top: 0;
  }
  /*     detail     */
  .quantity-price-w {
    width: 50%;
  }
  /* or-text */
  .or-text {
    padding: 0 20px;
  }
  /*style one page check out*/
  .style1 .onestepcheckout-col-center {
    width: 64%;
  }
  .style1 .onestepcheckout-col-right {
    width: 64%;
  }
  #checkout-review-table tbody .input-text.qty {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .products-list .short-description {
    width: 100%;
  }
  body.boxed-all .page {
    width: 760px;
  }
  body.boxed-content .main-container {
    width: 760px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 760px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #contactForm input {
    margin-left: 20px;
  }
  .electronic .product-shop .product-options-bottom {
    margin-top: 30px;
  }
  .storeprint3d #custommenu-mobile #menu-content {
    min-height: 1500px;
  }
  .home-category.layout_2 > .container > .row > .block-left {
    width: 41%;
  }
  .home-category.layout_2 > .container > .row > .block-center {
    width: 34%;
  }
  .home-category.layout_2 > .container > .row > .block-right {
    width: 25%;
  }
  .home-category.layout_2 .block-center .inner-bottom {
    margin-top: 3px;
  }
  .trust-w.style2 .right-bg {
    height: 50%;
    top: auto;
    bottom: 0;
  }
  .trust-w.style2 .left-bg {
    height: 50%;
  }
  #checkout-review-table tbody .input-text.qty {
    margin-bottom: 0;
  }
  .block.block-reorder .block-content li p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 165px;
  }
  ul.form-list li .input-box textarea {
    width: 100%;
  }
  #wishlist-table .add-to-cart-alt button .fa-shopping-cart {
    padding: 0;
  }
  #wishlist-table .description .inner {
    height: 55px;
    overflow: hidden;
  }
  .my-wishlist #wishlist-table .add-to-cart-alt button {
    padding: 0 0 0 9px;
  }
  .block.block-reorder .block-content .actions button span span,
  .block.block-reorder .block-content .actions a {
    padding: 0 10px;
  }
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  #compare-items li.item p.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }
  #coupon_code {
    min-width: auto;
  }
  #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 10px;
  }
  /* style detail */
  .menu-w {
    display: none;
  }
  .allowable-upload {
    display: none;
  }
  .upload-file {
    width: 100%;
  }
  .product-step-order {
    margin-top: 110px;
  }
  #review-form .buttons-set {
    width: 63%;
  }
  .box-upload {
    width: 100%;
  }
  .gen-tabs-style1.accor .tabs-panels {
    padding: 0;
  }
  .gen-tabs.accor .tabs-panels .panel {
    float: left;
    margin-bottom: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: none;
  }
  #review-form ul.form-list li textarea {
    width: 63%;
  }
  #product-tabs .tabs-panels > h2 {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid #e5e5e5;
  }
  #product-tabs .tabs-panels > h2:first-child {
    border-top: 1px solid #e5e5e5;
  }
  #matrix-result td,
  #matrix-result th {
    padding: 10px 17px;
  }
  #product-options-wrapper dl dd .input-box {
    width: 265px;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 265px;
  }
  #product-options-wrapper dl dd {
    margin-bottom: 20px;
  }
  .tooltip.bottom .tooltip-inner {
    min-width: 200px;
  }
  .customer-account-login .col-right,
  .customer-account-create .col-right {
    display: none;
  }
  .product-image-action .action {
    margin-left: -57px;
  }
  /* style col-right */
  .customer-account-create .col-right {
    margin-top: 30px;
  }
  /* style account */
  .customer-account-login p,
  .nb-form-login p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
  }
  .customer-account-login .col-right {
    display: none;
  }
  /* style blog post*/
  .blog-post-view .current_category_title {
    display: none;
  }
  .blog-post-view .breadcrumb-w {
    float: right;
  }
  .block-blog .menu-categories {
    width: 50%;
  }
  .blog-toolbar .toolbar {
    margin-bottom: 30px;
  }
  .block-blog .menu-recent {
    width: 50%;
  }
  .block-blog .menu-categories,
  .block-blog .menu-recent {
    margin-top: 30px;
  }
  .block.block-blog {
    margin-bottom: 50px;
  }
  .block.block-blog {
    margin-bottom: 50px;
  }
  /* list */
  .products-grid .product-image-action .action {
    margin-left: -57px;
  }
  .pro-item a.quick-view {
    display: none !important;
  }
  .products-list .short-description {
    overflow: hidden;
    float: left;
    height: 40px;
  }
  .products-list .action {
    float: left;
  }
  /* style menu vertical */
  .cms-home .page {
    overflow: hidden;
    position: relative;
  }
  #mb-main-menu ul {
    float: left;
    width: 100%;
  }
  /* end style menu vertical*/
  /* edit home */
  .product-image-action a.product-image {
    width: 100%;
  }
  .home-new-product .tab-content .del-3,
  .home-new-product .tab-content .del-4 {
    display: none;
  }
  /* end edit home */
  .block-currency .currency-name {
    border-left: none;
  }
  .home-category .block-center .inner-top .box-right:hover .info a {
    margin-top: 0;
  }
  .home-category .block-center .inner-top .box-left:hover .info a {
    margin-top: 0;
  }
  .home-category .block-right .inner-top:hover .info a {
    margin-top: 0;
  }
  .trust-w .tr-text p {
    height: 60px;
    overflow: hidden;
  }
  .block-capabititie .decs p {
    height: 60px;
    overflow: hidden;
  }
  .home-category .block-center .inner-top .box-right:hover .info a {
    margin-left: -70px;
  }
  .home-category .block-left:hover .info a {
    margin-left: -65px;
  }
  .home-category .block-right .inner-bottom:hover .info a {
    margin-left: -54px;
    margin-top: 0;
  }
  .slide-show span {
    display: none;
  }
  .slide-show .btn-sn {
    display: none;
  }
  .home-category.layout_1 .block .box-left,
  .home-category.layout_1 .block .box-right {
    width: 47.1%;
  }
  .home-category .block .box-left {
    margin-right: 10px;
  }
  .home-category .block .box-right {
    margin-left: 10px;
  }
  .home-category .block-center .inner-top a.frist {
    margin-right: 0;
  }
  .home-category .block-center .inner-bottom {
    margin-top: 22px;
  }
  .home-category .block-center .inner-bottom:hover .info a {
    margin-top: 2px;
  }
  .home-category .block-right .inner-bottom {
    margin-top: 16px;
  }
  .home-category .block-center .inner-bottom:hover .info a {
    float: left;
  }
  .home-category .block-right .inner-bottom:hover .info a {
    float: left;
  }
  .home-category .block-right .inner-top:hover .info a {
    float: left;
  }
  .trust-w .block-trust {
    margin-bottom: 30px;
  }
  .trust-w .block-trust.trust-col-eco-minded {
    margin-bottom: 0;
  }
  .block-title-w ul li {
    margin-bottom: 20px;
  }
  .home-new-product .block-title-w {
    margin-bottom: 12px;
  }
  .cms-home .main section.home-blog {
    background: rgba(0, 0, 0, 0) url("../images/printshop/bg_blog.jpg") scroll center center;
    background-size: cover;
  }
  .home-blog .item {
    margin-top: 30px;
  }
  .w-print-block {
    min-height: 270px;
  }
  .or-image a {
    width: 100%;
    float: left;
  }
  .or-block {
    margin-bottom: 30px;
  }
  section.or-service {
    padding-bottom: 5px;
  }
  .bran-block .image {
    float: left;
    width: 100%;
  }
  .bran-block .item {
    margin-bottom: 30px;
  }
  section.home-brand {
    padding-bottom: 5px;
  }
  .tes-decs {
    margin-top: 20px;
    padding: 0 170px;
  }
  .home-testimonial {
    background: url("../images/printshop/bg_testimonal.jpg") scroll center center;
  }
  .block-capabititie .block-mydoughnut::before {
    margin-left: -81px !important;
    margin-top: -71px !important;
  }
  .block-capabititie .block-mydoughnut::after {
    margin-left: -44px !important;
    margin-top: -35px !important;
  }
}
@media (max-width: 767px) {
  .stationary #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 0;
    margin-top: 10px;
  }
  .electronic .product-shop .product-options-bottom {
    margin-top: 30px;
  }
  .storeprint3d #custommenu-mobile #menu-content {
    min-height: 1500px;
  }
  .products-list.category-product .quick-view {
    display: none !important;
  }
  .products-list .pro-item .action {
    text-align: left !important;
  }
  body.boxed-all .page {
    width: 620px;
  }
  body.boxed-content .main-container {
    width: 620px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 620px;
  }
  .trust-w.style2 .right-bg {
    height: 25%;
    top: auto;
    bottom: 0;
    width: 100%;
  }
  .trust-w.style2 .left-bg {
    height: 25%;
    width: 100%;
  }
  .menu-w {
    display: none;
  }
  .upload-file {
    width: 100%;
  }
  .product-tab-view {
    margin-top: 90px;
    padding: 0 15px;
  }
  .cms-home .main section.home-category {
    position: relative;
    z-index: 3;
  }
  .cms-home .main section.home-capabititie {
    position: relative;
    z-index: 2;
  }
  .table-cart .product-cart-image table td.last button {
    float: left;
  }
  .dialog_content {
    width: 100% !important;
  }
  .dialog {
    width: 600px !important;
    left: 20px !important;
    position: fixed;
    top: 10px !important;
  }
  .my-account .pager {
    float: left;
    width: 100%;
  }
  .box-account.box-tags .box-head a {
    margin-top: 0;
  }
  #postComment label {
    padding-left: 0;
  }
  #postComment ul.form-list {
    padding-left: 40px;
  }
  .product-cart-image .my-account .pager {
    float: left;
    width: 100%;
  }
  .product-cart-image {
    text-indent: -999em;
  }
  .product-cart-image .product-info-col {
    text-indent: 0;
  }
  #addTagForm .form-add .input-box input {
    min-width: 230px;
  }
  .compare-table .product-shop-row .product-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #discount-coupon-form #coupon_code {
    width: 70%;
  }
  #co-shipping-method-form {
    margin-top: 20px;
  }
  #shipping-zip-form ul.form-list .form-control {
    width: 70%;
  }
  .input-text.form-group {
    max-width: auto;
  }
  #wishlist-table .btn-cart i.fa-shopping-cart:before {
    top: 0;
    left: 2px;
  }
  #wishlist-table .btn-cart {
    margin-left: 10px;
  }
  .my-account .my-wishlist {
    margin-bottom: 20px;
  }
  .customer-account-login .col-right,
  .customer-account-create .col-right {
    display: none;
  }
  #login-form .content {
    padding-bottom: 30px;
  }
  .nb_breadcrumbs {
    margin-bottom: 10px;
  }
  .product-details .product-name a {
    margin-top: -3px;
  }
  #login-form .col2-set .content .buttons-set button.button {
    margin-right: 10px;
  }
  #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 0px;
  }
  .cms-home .main section.home-promotion-product {
    padding: 0px 0 1px;
  }
  .or-image a {
    width: 100%;
  }
  .product-image-action .action {
    margin-left: -57px;
  }
  /*style detail*/
  .gen-tabs-style1.accor .tabs-panels {
    padding: 0;
  }
  .gen-tabs.accor .tabs-panels .panel {
    float: left;
    margin-bottom: 0;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: none;
  }
  #review-form ul.form-list li textarea {
    width: 75%;
  }
  .buttons-set button.button {
    float: left;
  }
  #product-tabs .tabs-panels > h2 {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid #e5e5e5;
  }
  #product-tabs .tabs-panels > h2:first-child {
    border-top: 1px solid #e5e5e5;
  }
  .add-to-cart-w .atc-header .number i {
    margin-left: 8px;
    margin-top: 7px;
  }
  #product-options-wrapper dl dd {
    margin-bottom: 20px;
  }
  #product-options-wrapper dl dd .input-box {
    width: 225px;
  }
  .product-options-bottom .atc-header .number:before {
    top: 1px;
    left: 6px;
  }
  .allowable-upload {
    display: none;
  }
  .box-upload {
    width: 100%;
  }
  .add-to-cart-w .atc-header {
    margin-bottom: 15px;
  }
  /* style my account */
  .my-account {
    margin-top: 30px;
  }
  .box-account {
    margin-bottom: 0;
  }
  /* style col-right */
  .customer-account-create .col-right {
    margin-top: 30px;
  }
  /* style account */
  .customer-account-login p,
  .nb-form-login p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
  }
  /* style blog */
  .blog-index-list .main-header {
    border: none;
  }
  .block.block-blog {
    margin-bottom: 50px;
  }
  .blog-toolbar .toolbar {
    margin-bottom: 30px;
  }
  #postComment {
    margin-bottom: 30px;
  }
  /* edit category gird */
  .headerCS .block-cart-w:hover .block-content {
    top: 43px;
  }
  /*list*/
  .products-list .pro-item .product-info {
    text-align: left !important;
  }
  .products-list .product-name {
    float: left;
    width: auto;
  }
  /*.products-list .ratings {
    float: left;
  }*/
  .products-list .product-info .rating-box {
    margin-top: 0;
  }
  .category-left-banner {
    float: left;
    text-align: center;
    width: 100%;
  }
  .category-left-banner a {
    display: inline-block;
    float: none;
  }
  .top-toolbar .toolbar {
    margin-top: 30px;
  }
  /*------page grid-----*/
  .block-currency .currency-name {
    border-left: none;
  }
  .category-image a {
    width: 100%;
  }
  .breadcrumb-w > span {
    float: left;
    margin-right: 3px;
  }
  #product-detail .product-options {
    margin-top: 30px;
  }
  .product-share {
    margin-top: 0;
  }
  .product-share .social {
    float: left;
    width: 100%;
  }
  .category .pro-item {
    float: left;
    width: 100%;
  }
  /*------page home-----*/
  .products-list .pro-item a.add-to-wishlist,
  .products-list .pro-item a.add-to-wishlist,
  .products-list .pro-item a.add-to-compare {
    float: left;
  }
  .pro-item a.quick-view {
    display: none !important;
  }
  .pro-item .product-info {
    margin-top: 25px;
  }
  .home-category .block-center .inner-top .box-right:hover .info a {
    margin-left: -60px;
  }
  .info-recent .title {
    margin-top: 40px;
  }
  .block-title-w {
    padding: 0 10px;
  }
  .index section.home-new-product {
    padding: 35px 0;
  }
  .bran-block .image {
    float: left;
    width: 100%;
  }
  .home-promotion-product .pro-item {
    padding: 0 15px;
  }
  .slide-show span {
    display: none;
  }
  .slide-show .btn-sn {
    display: none;
  }
  .home-category .image {
    width: 100%;
  }
  .home-category.layout_1 .block .box-left,
  .home-category.layout_1 .block .box-right {
    width: 50%;
  }
  .home-category.layout_2 .block.block-right {
    display: none;
  }
  .home-category .block-center .inner-top {
    width: 100%;
    margin-top: 30px;
  }
  .home-category .block-center .inner-bottom {
    width: 100%;
  }
  .home-category .block-right .inner-bottom,
  .home-category .block-right .inner-top {
    width: 50%;
    margin-top: 30px;
  }
  .block-title-w ul li {
    margin-bottom: 20px;
  }
  .home-new-product .block-title-w {
    margin-bottom: 12px;
  }
  .cms-home .main section.home-blog {
    background: rgba(0, 0, 0, 0) url("../images/printshop/bg_blog.jpg") scroll center center;
    background-size: cover;
  }
  .cms-home .main section.home-testimonial {
    background: url("../images/printshop/bg_testimonal.jpg") scroll center center;
    background-size: cover;
  }
  .home-blog .item {
    margin-top: 30px;
  }
  .home-capabititie {
    background: url("../images/printshop/bg_capabiliti.jpg") no-repeat center;
    background-size: cover;
  }
  .block-capabititie .canvas-inner {
    width: 186px !important;
    height: 186px !important;
  }
  .or-block {
    margin-bottom: 30px;
  }
  section.or-service {
    padding-bottom: 5px;
  }
  .text-recent p {
    overflow: hidden;
    display: inline-block;
    height: 40px;
  }
  .tes-decs {
    padding: 0 130px;
  }
  .bran-block .item {
    margin-bottom: 30px;
  }
  section.home-brand {
    padding-bottom: 5px;
  }
  .w-print-block.frist {
    margin-top: 0;
  }
  .w-print-block {
    margin-top: 80px;
  }
  .th-hotline {
    display: none;
  }
  /*    cart    */
  .cart_item .hidden-xs {
    display: block !important;
  }
  section.add-to-cart-w {
    padding-bottom: 25px!important;
  }
  /*     list      */
  .cate-bottom-banner a {
    width: 100%;
  }
  .bottom-toolbar {
    float: left;
    width: 100%;
  }
  #checkout-review-table tbody .input-text.qty {
    margin-bottom: 0;
  }
}
@media (max-width: 640px) {
  header#type8 .main-header .logo.hd-pd {
    padding: 19px 0;
  }
  .cms-index-index .christmas .product-info .action .add-to-cart {
    width: 100% !important;
  }
  .cms-index-index .christmas .pro-item .product-info {
    margin-top: 0;
  }
  body.boxed-all .page {
    width: 480px;
  }
  body.boxed-content header#type8 .sub-header {
    width: 480px;
  }
  .trust-w .block-trust {
    margin-bottom: 20px;
  }
}
@media (min-width: 481px) and (max-width: 639px) {
  .stationary #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 20px;
    margin-top: 0;
  }
  .stationary #coupon_code {
    min-width: 190px !important;
  }
  body.boxed-content .main-container {
    width: 560px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 560px;
  }
  .style1 .dis {
    margin: -50px 0 0 !important;
  }
  #review-form ul.form-list li textarea {
    width: 89%;
  }
  .dialog {
    width: 500px !important;
    left: 35px !important;
  }
  #product-options-wrapper dl dd {
    width: 100% !important;
  }
  #product-options-wrapper dl dd .input-box {
    width: 100%;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 100%;
  }
  #postComment textarea {
    margin-top: 10px;
  }
  .table-responsive {
    margin-bottom: 0;
  }
  .style1 .dis {
    margin: 10px 0 0;
  }
  .buttons-set button.button {
    margin-bottom: 0;
  }
  #product-options-wrapper dl dd .input-box {
    width: 190px;
  }
  #matrix-result td,
  #matrix-result th {
    padding: 10px 9px;
  }
  .style1 .discount-block .discount-form .buttons-set button.button span span {
    line-height: 35px;
  }
  .account-login h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .buttonuploadblock button.button span i {
    display: none;
  }
  .stationary #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 20px;
    margin-top: 0;
  }
  .stationary #coupon_code {
    min-width: 190px !important;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 480px;
  }
  body.boxed-content .main-container {
    width: 480px;
  }
  body.boxed-all .page {
    width: 480px;
  }
  body.boxed-content header#type8 .sub-header {
    width: 480px;
  }
  #addTagForm .form-add label {
    width: 100%;
  }
  .product-info-w .nav-tabs > li > a {
    padding: 4px;
  }
  .style1 .discount-block .discount-form .buttons-set button.button span span {
    line-height: 35px;
  }
  .style1 .comment-block textarea {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .style1 #onestepcheckout-review-block .checkout-review-form > button.update-qty {
    margin-top: 20px !important;
  }
  .style1 .dis {
    margin-top: 20px;
  }
  #shopping-cart-table .product-info-col {
    width: 48%;
  }
  .table-responsive {
    margin-bottom: 0;
  }
  .style1 .onestepcheckout-poll {
    margin-top: 0;
  }
  #cart-sidebar a.product-image {
    width: auto;
  }
  #login-form .content {
    padding-bottom: 30px;
  }
  .account-login h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .home-category .block-left:hover .info a {
    margin-left: -60px;
  }
  a.product-image {
    width: 100%;
  }
  .info-recent .title {
    margin-top: 35px;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .text-recent p {
    height: 35px;
  }
  /*style detail */
  .currency-active {
    float: left;
    height: 40px;
    line-height: 33px;
  }
  #product-options-wrapper dl dd .input-box {
    width: 390px;
  }
  #product-options-wrapper dl dd {
    margin-bottom: 0;
  }
  #list_allimages .data-table tbody td {
    padding: 10px 8px;
  }
  .dialog_content {
    width: 100% !important;
  }
  .dialog {
    width: 450px !important;
    left: 10px !important;
    position: fixed;
    top: 10px !important;
  }
  .buttonuploadblock button.button span span {
    padding: 0 10px;
    line-height: 35px;
  }
  #order_box_upload table.data-table tbody td textarea {
    width: 150px;
  }
  /* style blog post */
  #postComment input,
  #postComment textarea {
    width: 300px;
    min-width: 300px;
  }
  /* edit category 12/12/2015*/
  .toolbar .sorter .cate-filter-content .form-control {
    width: 100%;
  }
  .sorter .category-asc,
  .sorter .category-desc {
    display: none;
  }
  /* remove image category */
  .cart-banner-top.hidden-xs {
    display: none !important;
  }
  .or-text {
    height: 20px;
    margin-top: 3px;
    overflow: hidden;
  }
  .cart .header-page .hidden-xs {
    display: none !important;
  }
  #wishlist table tr td img {
    width: 160px;
    height: 160px;
  }
  /*check out*/
  #checkout .pro_name a {
    width: auto;
  }
  .cart-header .continue-shopping {
    text-align: left;
    margin-top: 10px;
  }
  .grid .category-image {
    margin-top: 30px;
  }
  .upload-add-cart {
    margin-top: 30px;
  }
  .cart-right-banner {
    display: none;
  }
  .table-cart th.product-wishlist {
    display: none;
  }
  .cart-header {
    margin-bottom: 0;
  }
  table.table-cart .hidden-xs {
    width: 100%;
  }
  .add-to-cart-w .add-to-cart .atc-header .visible-480 {
    display: none !important;
  }
  .product-share .add-to-wishlist {
    margin-top: 10px;
    float: left;
  }
  .product-share .email-to-friend {
    margin-top: 10px;
    float: left;
  }
  .top-toolbar .col-xs-4 {
    width: 100%;
  }
  .industry-filter {
    padding-left: 15px;
  }
  .header-page {
    height: auto;
  }
  .category-left-banner a {
    width: 100%;
  }
  .cate-filter-title {
    white-space: nowrap;
  }
  .cate-bottom-banner a {
    width: 100%;
  }
  .category-w {
    margin-top: 20px;
  }
  .current-filter {
    margin-bottom: 20px;
  }
  .trust-w .block-trust {
    margin-bottom: 30px;
  }
  .trust-w .block-trust.trust-col-eco-money {
    margin-bottom: 0;
  }
  /*.hidden-xs{

		display:block !important;

	}*/
  .block-title-w ul li a {
    padding: 0 17px;
  }
  .blog-content-w .item {
    width: 100%;
  }
  .home-blog .block-title-w {
    margin-bottom: 20px;
  }
  .tes-decs {
    padding: 0 70px;
  }
  .bran-block .image {
    float: left;
    width: 100%;
  }
  .info-recent .title {
    margin-top: 35px;
  }
  .info-recent {
    padding: 0 12px;
  }
  .text-recent {
    margin-top: 5px;
  }
  .info-recent .read-more {
    margin-top: 5px;
  }
  .w-print-block {
    margin-top: 80px;
  }
  .print-block-left .w-print-block {
    margin-top: 0;
  }
  .action button.gbtn {
    float: left;
    display: inline-block;
  }
  .home-new-product .pro-item.large-item {
    margin-bottom: 30px;
  }
  .language-w ul li a {
    text-align: left;
  }
  .block-currency ul li {
    text-align: left;
  }
  .block-currency .currency-name {
    border: none;
  }
  #review-form ul.form-list li textarea {
    width: 100%;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 100%;
  }
  .home-category .block-center .inner-top {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .home-category.layout_1 .block .box-left,
  .home-category.layout_1 .block .box-right {
    width: 50%;
    padding: 0;
  }
  .home-category.layout_1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 360px) {
  #menu-content .link-acount:hover ul,
  #menu-content .menu-page:hover ul {
    left: 210px;
  }
  body.boxed-all header#type7 {
    min-height: 270px;
  }
  body.boxed-all header#type7 .main-header .headerCS .search-w.hd-pd {
    height: 1px;
  }
  .toolbar .type-filter {
    margin-right: 0 !important;
  }
  .home-popular-product .products-popular h2 {
    padding-top: 10px;
  }
  header#type8 .main-header .headerCS .search-w.hd-pd {
    height: 1px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 360px;
    min-height: 150px;
  }
  body.boxed-content .main-container {
    width: 360px;
  }
  body.boxed-all .page {
    width: 360px;
  }
  body.boxed-content header#type8 .sub-header {
    width: 360px;
  }
  #addTagForm .form-add label {
    width: 100%;
  }
  .product-view .product-shop .addtolinks p.email-friend {
    margin-top: 10px;
  }
  .home-category.layout_1 .block .box-left,
  .home-category.layout_1 .block .box-right {
    width: 100%;
  }
  .my-account .pager .amount {
    width: 100%;
    text-align: left;
  }
  .my-account .pager .limiter {
    float: right;
  }
  .my-account .pager .pages {
    float: left;
  }
  #review-form ul.form-list li textarea {
    width: 100%;
  }
  #shopping-cart-table .product-info-col {
    width: 90%;
    padding-left: 10px;
    margin-top: 20px;
  }
  #upload_files_nbm .grid table.data-table tbody td textarea {
    width: 150px;
  }
  #search_mini_form .form-search input.input-text {
    min-width: 300px;
  }
  #addTagForm .form-add button.button {
    margin-left: -1px;
  }
  #addTagForm .form-add .input-box input {
    min-width: 140px;
    width: 140px;
  }
  .account-login h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  /*style detail */
  .dialog {
    width: 340px !important;
    left: 10px !important;
    position: fixed;
    top: 10px !important;
  }
  #order_box_upload table.data-table tbody td textarea {
    width: 130px;
  }
  #product-options-wrapper dl dd .input-box {
    width: 330px;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 330px;
  }
  .add-feature .add-to-compare,
  .add-feature .add-to-wishlist,
  .add-feature .email-to-friend {
    margin-right: 30px;
  }
  .add-feature .email-to-friend {
    margin-top: 15px;
  }
  .calculator .product-options-bottom .add-to-cart {
    margin-top: 25px;
  }
  .add-to-cart .add-cart-btn.btn {
    float: left;
  }
  #product-review-table .data-table tbody th {
    padding: 8px;
  }
  /*style my account*/
  .dashboard .col2-set .col-1,
  .dashboard .col2-set .col-2 {
    width: 100%;
  }
  .box-account.box-info .col-1 .box {
    padding-right: 0;
  }
  /* style blog post */
  #postComment input,
  #postComment textarea {
    width: 250px;
    min-width: 250px;
  }
  .products-grid .pro-item {
    width: 100%;
  }
  .product-image-action a.product-image {
    width: 100%;
  }
  .th_hidden {
    display: none;
  }
  .home-category .block-left:hover .info a {
    margin-left: -60px;
  }
  .home-category .block-center .inner-bottom:hover .info a {
    margin-top: 0;
  }
  .cart_item .product-info {
    float: left;
    width: 80%;
  }
  .cart-header .continue-shopping {
    text-align: left;
    margin-top: 10px;
  }
  .product-info {
    margin-top: -2px;
  }
  .cart .table-cart.table .product-info .product-image-col {
    padding: 0;
  }
  .cart_item .product-wishlist {
    display: none !important;
  }
  .col-xs-offset-2.mbmenu-icon-w {
    margin-left: 14.667%;
    width: 13.667%;
  }
  .home-new-product .pro-item.large-item .product-info {
    bottom: 20px;
  }
  .home-new-product .pro-item.large-item .product-name {
    font-size: 24px;
  }
  .home-category .block .box-left,
  .home-category .block .box-right {
    width: 100%;
  }
  .home-category .block .box-right {
    margin-top: 30px;
  }
  .home-category .block-right .inner-bottom,
  .home-category .block-right .inner-top {
    width: 100%;
  }
  .home-category .block-center .inner-bottom:hover .info a {
    float: left;
  }
  .block-title-w ul li {
    margin-bottom: 10px;
  }
  .or-service-w .or-block {
    width: 100%;
  }
  .or-service-w .or-block .or-image a {
    width: 100%;
  }
  .home-out-recent .block-recent {
    width: 100%;
  }
  .text-recent p {
    height: 90px;
  }
  .tes-decs {
    padding: 0 20px;
  }
  #custommenu-mobile #menu-content {
    max-width: 210px;
  }
  #menu-content .menu-page:hover > ul {
    left: 210px;
  }
}
@media (max-width: 320px) {
  header#type8 .main-header .headerCS .search-w.hd-pd {
    height: 1px;
  }
  body.boxed-content header#type8 .sub-header.main-header {
    width: 320px;
  }
  body.boxed-content .main-container {
    width: 320px;
  }
  body.boxed-all .page {
    width: 320px;
  }
  body.boxed-content header#type8 .sub-header {
    width: 320px;
  }
  .product-info-w ul.nav-tabs li:last-child {
    display: none;
  }
  #addTagForm .form-add .input-box input {
    min-width: 120px;
    width: 120px;
  }
  #postComment ul.form-list {
    padding-left: 0;
  }
  #search_mini_form .form-search {
    top: 58px;
  }
  .main-header .search-w.hd-pd {
    margin-top: 18px;
  }
  #login-form .col2-set .content .buttons-set a.btn-default {
    margin-left: 0;
    margin-top: 20px;
  }
  #login-form .content {
    padding-bottom: 30px;
  }
  /* style detail */
  .add-feature .add-to-compare,
  .add-feature .add-to-wishlist,
  .add-feature .email-to-friend {
    margin-right: 15px;
  }
  .dialog {
    width: 300px !important;
  }
  #product-options-wrapper dl dd .input-box {
    width: 290px;
  }
  #product-options-wrapper dl dd .input-box select {
    width: 289px;
  }
  .status table.data-table textarea {
    width: 130px;
  }
  #order_box_upload table.data-table tbody td textarea {
    width: 90px;
  }
  #login-form .col2-set .content .buttons-set a.btn-default {
    float: left;
    width: 100%;
  }
  #login-form .buttons-set button.button {
    float: left;
    width: 50%;
    margin-left: 0;
    margin-top: 30px;
  }
  /* style blog post */
  #postComment input,
  #postComment textarea {
    margin-left: 20px;
  }
  #postComment label {
    padding-left: 20px;
  }
  #postComment button.button {
    float: left;
    margin-right: 0;
    margin-left: 20px;
  }
  /* my order */
  .add-to-cart .quantity {
    width: 100%;
  }
  .form-edit-info {
    padding: 0 0 30px;
  }
  .table-cart thead.hidden-xs {
    display: none !important;
  }
  .cart-banner-top.hidden-xs {
    display: none !important;
  }
  .cart-header.hidden-xs {
    display: none !important;
  }
  .table-cart.table tr td.product-subtotal {
    text-align: right;
  }
  .bg_make_print {
    display: none;
  }
  .home-capabititie {
    margin-top: 50px;
  }
  .pro-item .product-info {
    margin-top: 20px;
  }
  .cart .table-cart.table .product-info .product-image-col {
    padding: 0;
  }
  .cart-header .continue-shopping {
    text-align: left;
    margin-top: 10px;
  }
  .cart_item .product-info {
    float: left;
    width: 80%;
  }
  .cart_item .product-info .product-info-col .pro-option {
    display: none;
  }
  .cart_item .product-wishlist {
    display: none !important;
  }
  .top-toolbar .col-xs-4 {
    width: 100%;
  }
  .industry-filter {
    padding-left: 0px;
    margin-top: 10px;
  }
  .category-image.mobile {
    margin-top: 20px !important;
  }
  .col-lg-1.col-md-2.col-sm-2.col-xs-3.headerCS {
    width: 24%;
  }
  .col-xs-offset-2.mbmenu-icon-w {
    width: 8.667%;
  }
  .block-title-w ul li a {
    padding: 0 10px;
  }
  .tes-decs p {
    overflow: hidden;
    height: 50px;
    float: left;
  }
  .home-brand .item {
    width: 100%;
  }
}
